#title{
    display: block;
    font-size:30px;
    font-family: "Berlin Sans FB";
    margin-bottom: 20px;
    padding: 10px;
}
.sub_title{
    font-size: 21px;
    font-weight: bold;
    margin: 5px 0px 12px 0px;
}
p{
    font-size: 16px;
    font-family: Arial;
    padding: 5px;
}
#nav-title{
    font-family: Arial Rounded MT;
    font-size:26px;
    padding-left: 3%;
}
body{
    color:black;
    margin-left:10px;
}
.nav-tit{
    background-color:rgb(146, 145, 145);
    border:3px solid black;
    margin-left:-10px;
}
.bg{
    background-color:rgb(146, 145, 145);
    margin-bottom: 25px;
    width: 90%;
    margin-top:15px;
}
@media (min-width: 576px){
    .hide{
        display: none;
    }
    .bg{
        width: 95%;
    }
}
.but{
    border:2px solid black;
    font-size:28px;
    margin-left:40px;
    background-color: rgb(146, 145, 145);
}
.divider{
    border-bottom:2px solid black;
    display: block;
    width:100%;
    text-align: center;
}
.hide{
    border:2px solid black;
    background-color: white;
}
.but:focus{
    color:white;
    border:3px solid white;
    background-color:rgb(146, 145, 145);
}
.guide{
    text-decoration: underline blue solid;
}
